doctype html
html
  head
    title= title
    //BOOTSTRAP STYLES
    link(href="assets/plugins/bootstrap/bootstrap.css", rel="stylesheet")
    //- link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css', integrity='sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb', crossorigin='anonymous')
    link(href="assets/font-awesome/css/font-awesome.css", rel="stylesheet")
    link(href="assets/plugins/pace/pace-theme-big-counter.css", rel="stylesheet")
    link(href="assets/css/style.css", rel="stylesheet")
    link(href="assets/css/main-style.css", rel="stylesheet")
    link(href="assets/plugins/morris/morris-0.4.3.min.css", rel="stylesheet")
    link(href="stylesheets/style.css", rel="stylesheet")
    
    //BOOTSTRAP SCRIPTS
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src="assets/plugins/bootstrap/bootstrap.min.js")
    script(src="assets/plugins/metisMenu/jquery.metisMenu.js")
    script(src="assets/plugins/pace/pace.js")
    script(src="assets/plugins/morris/raphael-2.1.0.min.js")
    script(src="assets/plugins/morris/morris.js")
    script(src="assets/scripts/dashboard-demo.js")
    
    //SCRIPTS
    script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.min.js')
    script(src="nav.js")
    script(src="cards.js")
    script(src="modal.js")
    // wrapper
    body
      include nav