doctype html
html
  head
    title To-do App
    meta(name="viewport" content="width=device-width")

    // STYLES
    link(href="css/bundle.min.css", rel="stylesheet")
    
    // SCRIPTS
    script(src='js/bundle.min.js')
    
    // BODY
    body
      include nav