.modal.fade(id="edit-modal")
  .modal-dialog
    .modal-content
      .modal-header
        button(type="button" class="close" data-dismiss="modal")
          span &times;
        h4.modal-title Edit task
      .modal-body
        .form-group
          label.col-xs-3.control-label Title
          input.form-control(type="text" id="item-title" name="item-title")
        .form-group
          label.col-xs-3.control-label Category
          select.form-control(type="" id="item-category" name="item-category")
            option University
            option Housework
            option Career
            option Activities
            option Miscellaneous
        .form-group
          label.col-xs-3.control-label Date
          input.form-control(type="date" id="item-date" name="item-date")
        .form-group
          label.col-xs-3.control-label Description
          textarea.form-control(placeholder="Description..." id="item-description" name="item-description")
        .form-group
            button.btn.btn-default(data-dismiss="modal") Cancel
            button.btn.btn-primary(data-dismiss="modal" data-editmode="new") Save Task

.modal.fade(id="settings-modal")
  .modal-dialog
    .modal-content
      .modal-header
        button(type="button" class="close" data-dismiss="modal")
          span &times;
        h4.modal-title User Settings
      .modal-body
        .form-group
          label.col-xs-3.control-label Template
          select.form-control(type="" id="template" name="template")
            option Red
            option Dark
            option Navy
            option Cake
            option Retro
        .form-group
            button.btn.btn-default(data-dismiss="modal") Cancel
            button.btn.btn-primary.save-template(data-dismiss="modal" data-editmode="new") Save Template
