#wrapper
  // navbar top
  nav#navbar.navbar.navbar-default.navbar-fixed-top.navy(role='navigation')
    // navbar-header
    .navbar-header
      button.navbar-toggle(type='button')
        i.fa.fa-bars
      a.navbar-brand(href='/')
        h1 TO-DO APP
    // end navbar-header
    // navbar-top-links
    ul.nav.navbar-top-links.navbar-right
      // main dropdown
      li.dropdown
        a.dropdown-toggle(data-toggle='dropdown', href='#')
          span.top-label.label.label-warning 5
          |
          i.fa.fa-clock-o.fa-3x
        // dropdown alerts
        ul.dropdown-menu.dropdown-alerts
        // end dropdown-alerts
      li.dropdown
        a.dropdown-toggle(data-toggle='dropdown', href='#')
          i.fa.fa-user.fa-3x
        // dropdown user
        ul.dropdown-menu.dropdown-user
          li
            a(href='#')
              i.fa.fa-user.fa-fw
              | User Profile
          |
          li
            a(href='#' data-toggle="modal" data-target="#settings-modal")
              i.fa.fa-gear.fa-fw
              | Settings
          |
          li.divider
          |
          li
            a(href='login.html')
              i.fa.fa-sign-out.fa-fw
              | Logout
        // end dropdown-user
      // end main dropdown
    // end navbar-top-links
  // end navbar top
  // navbar side
  div.nav-side.navy-side(data-collapsed="false")
      nav.navbar-default.navbar-static-side(role='navigation')
        // sidebar-collapse
        .sidebar-collapse
          // side-menu
          ul#side-menu.nav
            li
              // user image section
              .user-section
                .user-section-inner
                  img(src="http://www.qygjxz.com/data/out/190/5691490-profile-pictures.png")
                |
                .user-info
                  div.name
                    | Name
                    strong  Lastname
                  |
                  .user-text-online
                    span.user-circle-online.btn.btn-success.btn-circle
                    | &nbsp;Online
              // end user image section
            |
            li.sidebar-search.navy-search
              // search section
              .input-group.custom-search-form
                input.form-control(type='text', placeholder='Search...')
                |
                span.input-group-btn
                  button.btn.btn-default(type='button')
                    i.fa.fa-search
              // end search s
              // second-level-items
          // end side-menu
          .btn-group.categories
            button University
            button Housework
            button Career
            button Activities
            button Miscellaneous
            button All tasks

        // end sidebar-collapse
      // end navbar side
      // page-wrapper
  #page-wrapper
    .row
      // Page Header
      .col-lg-12
        block content
      // End Page Header
  // end page-wrapper
// end wrapper
