/* COM 642 A16 Sass Customization */
.card {
  margin: 10px;
  padding: 10px;
  width: 400px;
  float: left;
  background-color: #f1f1f1;
  color: black;
  border-radius: 3px;
  text-align: center;
  z-index: 9;
  box-shadow: 0px 0px 6px 0px rgba(0,0,0,.24);

  button.btn-danger {
    position: relative;
    top: -40px;
    right: -190px;
  }

  button.btn-info {
    position: relative;
    top: -40px;
    left: -190px;
  }

  label {
    margin-right: 4px;
  }
}

.card-title {
  width: 100%;
  cursor: move;
}

.done {
  text-decoration: line-through;
}

.cardContainer {
  margin-top: 36px;
}

#new-item {
  position: fixed;
  bottom: 24px;
  right: 24px;
}

.nav-side {
  box-shadow: 0px 10px 5px #888;  
}

#page-wrapper {
  height: 100%;
  margin-left: 278px;
  background-color: #f2f2f2;
}

.navbar-toggle {
  display: block;
  position: fixed;
  top: 8px;
  left: 8px;
  color: white;
  margin-top: 12px;
  border: none;
  font-size: x-large;

  &:hover {
    background-color: transparent !important;
  }
}

.navbar-brand h1 {
  margin: 0;
  margin-left: 48px;
  margin-top: 12px;
  color: white !important;
}

.inName{
  transition-duration: 1s;
  width: 200px;
  height: 80px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
  background-color: white;
  padding: 12px 20px 12px 50px;
}

.section-name {
  text-align: center;
  margin-top: 200px;

  .btn {
    display: block;
    margin-top: 24px;
  }
}
// COLORS for customization

.red{
  background-color: #660000;
  border-color: #330000;
}
.red-side{
  background-color: #ff3333;
}
.red-search{
  background-color: #ff3333;
}
.red-icon {
  background-color: #ff3333;
  border-color: #800000;
}
.red-icon:hover{
  background-color: #ff4d4d;
  border-color: #800000;
}
.navy{
  background-color: #00334d;
}
.navy-side{
  background-color: white;
}
.navy-search{
  background-color: white;
}
.navy-icon{
  background-color: #003d66;
  border-color: #357ebd;
}
.navy-icon:hover{
  background-color: #3276b1;
  border-color: #285e8e;
}

.dark{
  background-color: #262626;
}
.dark-side{
  background-color: #666666;
}
.dark-search{
  background-color: #666666;
}

.dark-icon{
  background-color: #666666;
  border-color: #000000;
}
.dark-icon:hover{
  background-color: #999999;
  border-color: #000000;
}
.cake{
  background-color: #ff4da6;
}
.cake-side{
  background-color: #ffe6ff;
}
.cake-search{
  background-color: #ffe6ff;
}
.cake-icon{
  background-color: #ff99dd;
  border-color: #b30047;
}
.cake-icon:hover{
  background-color: #ffb3e6;
  border-color: #b30047;
}
.retro{
  background-color: #000000;
}
.retro-side{
  background-color: #39e600;
}
.retro-search{
  background-color: #39e600;
}
.retro-icon{
  background-color: #39e600;
  border-color:  #000000;
}
.retro-icon:hover{
  background-color: #80ff80;
  border-color:  #000000;
}

body {
  background-color: white;
}

.terms {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #263238;
  color: #fff;
  padding: 24px;

  a {
    color: #fff;

    &:hover {
      text-decoration: none;
    }
  }

  .dismiss-btn {
    position: fixed;
    right: 24px;
    bottom: 20px;
    padding: 6px;
    border-radius: 4px;
    background-color: #fff;
    color: #000;
    text-align: center;
    cursor: pointer;
  }
}