/* COM 642 A16 Customization */

.card{
  margin: 10px;
  padding: 10px;
  width: 400px;
  float: left;
  background-color: #f1f1f1;
  color: black;
  border: 1px solid #d3d3d3;
  text-align: center;
  z-index: 9;
}
.card-title {
  width: 100%;
  cursor: move;
}

.card button.btn-danger {
  position: relative;
  top: -40px;
  right: -180px;
}

.card button.btn-info {
  position: relative;
  top: -40px;
  left: -180px;
}

.done {
  text-decoration: line-through; 
}

.cardContainer {
  margin-top: 36px;
}

.card label {
  margin-right: 4px; 
}

#new-item {
  position: fixed;
  bottom: 24px;
  right: 24px;
}

.page-wrapper {
  height: 100%;
}

.navbar-toggle {
  display: block;
  position: fixed;
  top: 8px;
  left: 8px;
  color: white;
  margin-top: 12px;
  border: none;
  font-size: x-large;
}

.navbar-toggle:hover {
  background-color: transparent !important;
}

.navbar-brand h1 {
  margin: 0;
  margin-left: 48px;
  margin-top: 12px;
  color: white !important;
}

#page-wrapper { 
  margin-left: 278px;
}